.nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 30px 10px 0;
}

.nav-header div {
  margin-left: 5px;
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.nav-menu-list {
  display: flex;
  padding-left: 0;
}
.nav-menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-menu-list li {
  list-style-type: none;
  font-size: 17px;
  margin: 0 10px;
}

.nav-menu-search {
  border-bottom: 1px solid #000;
  position: absolute;
  padding: 5px;
  right: 20px;
}

.nav-menu-search input {
  border: none;
  margin-left: 5px;
}
.nav-menu-search input {
  outline: none;
}
.nav-menu-search input[type="text" i] {
  padding: 1px 2px;
  font-size: 16px;
}

.detail-screen{
  margin-top: 60px;}

.product-img {
  display: flex;
  justify-content: end;
}

.product-title{
  font-size: 20px;
  margin-bottom: 10px;
}

.product-price{
  font-size: 20px;
  
  
}

.product-choice{
  font-weight:  600;
  margin-bottom: 30px;

}

.product-choice,.product-new{
  font-size: 15px;
}

#dropdown-but{
  background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 15px;
    margin-top: 20px;
}

#dropdown-but:focus{
  background-color: #000;
  color: white;
}

.add-but{
  width: 100%;
  margin-top: 20px;
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #212529;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.add-but:focus{
  box-shadow: 0 0 0 0.25rem rgba(66,70,73,.5);
  outline: 0;

}





